# Byte-code files
*.pyc
__pycache__/

# Environments
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# Editor/OS temporary files
.DS_Store # macOS
.idea/    # PyCharm
.vscode/  # VS Code

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Testing and coverage
.coverage
.tox/
htmlcov/

# Specific files
*.log
local_settings.py # Consider using environment variables for sensitive info
.env              # Environment variables
resources/reports/
resources/output/
resources/input/